<% layout("/layouts/boilerplate") %>

<body>
   <br><br><br>
    <div class="row">
        <div class="col-8 offset-2">
            <h3>Create a New Listing</h3>
    <form method="post" action="/listings" novalidate class="needs-validation">

        <div>
            <label for="title" class="form-label">Title</label>
            <input type="text"
             name="listing[title]" 
             class="form-control" required>
             <div class="valid-feedback">title looks good!</div>
             <div class="invalid-feedback"><title>title seems to be invalid</title></div>
     </div>
        <br>

        <div>
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" 
            class="form-control" required>>
          </textarea>
         <div class="invalid-feedback">description needs to be changed</div>
        </div>
    <br>
       
      <div>
        <label for="image" class="form-label">Image Link</label>
        <input type="text" 
        name="listing[image]" 
        class="form-control">
      </div>
       <br>

       <div class="row">
    
       <div class="col-md-4">
        <label for="price" class="form-label">Price</label>
        <input type="text" 
        name="listing[price]" 
        class="form-control" required>    
        <div class="invalid-feedback">price needs to be changed</div>
    
       </div>
        <br>

        <div class="col-md-8">
            <label for="country" class="form-label">Country</label>
            <input type="text"
             name="listing[country]"
             
              class="form-control" required>
        </div>
    </div>
        <br>

        <div>
            <label for="location" class="form-label">Location</label>
            <input type="text" 
            name="listing[location]"
             class="form-control" required>
        <br><br><br>
        <button class="btn btn-dark add-btn">ADD</button>
        <br><br><br>
    </form>

    <script>
        (() => {
    'use strict'
  
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    const forms = document.querySelectorAll('.needs-validation')
  
    // Loop over them and prevent submission
    Array.from(forms).forEach(form => {
      form.addEventListener('submit', event => {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }
  
        form.classList.add('was-validated')
      }, false)
    })
  })();
    </script>
</div>
</div>
</body>
